/*=============NEW PLAYLIST FORM===================*/

#new-playlist-form-container {
  display: block;
  width: 100%;
  height: 100%;
  text-align: left;
  color: #fff;
}

#playlist-instructions {
  display: block;
  font-size: 30px;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 24px;
  width: 100%;
  text-align: center;
}

#new_playlist {
  display: block;
  width: 80%;
  text-align: center;
}

.playlist_form_element {
  display: block;
  width: 200px;
  padding: 0;
  padding-bottom: 12px;
  margin: 0;
  margin-left: 8%;
  text-align: left;
}

#playlist_name {
  font-size: 24px;
  width: 100%;
  height: 30px;
  padding: 4px;
}


#new_playlist_submit_button {
  margin-top: 30px;
  font-size: 30px;
  box-shadow: none;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  background-color: rgb(255, 52, 139);
  color: #fff;
  border-style: none;
  white-space: normal;
  text-align: center;
  margin-left: 40%;
}

#play-all {
  background-color: rgb(255, 52, 139);
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  width: 100px;
  height: 25px;
  padding-top: 9px;
  padding-bottom: 3px;
  padding-right: 6px;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  border-radius: 30px;
  color: white;
  cursor: pointer;
}

#play-all:hover {
  background-color: gray;
  cursor: pointer;
}

#new-playlist-button{
  padding-left: 10px;
}

#new-playlist-button img{
  margin-right: 15px;
}

#new-playlist-button a{
  position: absolute;
  padding-top: 18px;
}

.playlist-button {
  cursor: pointer;
}
